<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<log4net threshold="ALL">
		<root>
			<!-- Options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF". -->
			<level value="ALL"/>
			<!--<appender-ref ref="console"/>-->
			<appender-ref ref="ColorfulAppender"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="ColorfulAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date | %level | %message%newline%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<file value="Log\" />
			<datePattern value="yyyyMMdd'.log'" />
			<dateTimeStrategy type="log4net.Appender.RollingFileAppender+LocalDateTime"/>
			<staticLogFileName value="false" />
			<appendToFile value="true" />
			<rollingStyle value="date" />
			<maximumFileSize value="20MB" />
			<appendToFile>true</appendToFile>
			<encoding>utf-8</encoding>
			<immediateFlush>true</immediateFlush>
			<preserveLogFileNameExtension>true</preserveLogFileNameExtension>
			<layout type="log4net.Layout.DynamicPatternLayout">
				<conversionPattern value="%date | %level | %message%newline%newline" />
				<!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
				<!--<conversionPattern value="%newline Logged Date : %date,%newline Exception : %exception,%newline File : %file,%newline Location : %location,%newline Level : %level,%newline Logged Message : %message,%newline Method Detail : %method %newline ********************** %newline "/>-->

			</layout>
		</appender>

	</log4net>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
