[Unit]
Description=RFID_Api

[Service]
User=root
WorkingDirectory=/RFID_Api/
ExecStart=/RFID_Api/main
Restart=always

[Install]
WantedBy=multi-user.target


